html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  text-align: center !important;
}

.form-review {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: auto;
}
.form-review .checkbox {
  font-weight: 400;
}
.form-review .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-review .form-control:focus {
  z-index: 2;
}
.form-review input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-review input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
